body{font-family: 'PT Sans', sans-serif;}



.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  li.nav-item.text-white { margin: 0px 5px; }

h2 { font-size: 4rem; text-align: left; display: inline-block; padding: 10px;}
h5 a.links{color:white; text-decoration:none;}
.carousel-item#carousel-item-1{ background-image:url('https://res.cloudinary.com/dpjc4trmq/image/upload/v1570099794/iceland/gusbfefawc0vr2mvh7fh.png')}
.carousel-item#carousel-item-2{ background-image:url('https://res.cloudinary.com/dpjc4trmq/image/upload/v1570099792/iceland/oswvzdsldsetwvwuagrx.png')}
.carousel-item#carousel-item-3{ background-image:url('https://res.cloudinary.com/dpjc4trmq/image/upload/v1570099794/iceland/fynhxsafkl4yaajpwykl.png')}
.carousel-item#carousel-item-4{ background-image:url('https://res.cloudinary.com/dpjc4trmq/image/upload/v1570099794/iceland/vupug9ksvayqkyb1bznk.png')}


h5{ text-align:left!important; padding: 10px 0px; display:inline-block; border-top:1px solid white; width:100%;}  
  .carousel-caption { position: absolute; 
    top: 55%; 
    left: 10%; 
    z-index: 10; 
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff; 
    text-align: center;  
    max-width:750px; 
}

/*----Media Queries-----*/


@media only screen and (max-width: 768px) {
    h2{ font-size: 2rem;}
  }

  @media only screen and (max-width: 768px) {
    li.nav-item.text-white {
      margin: 0px 25px;
    }
   }

  @media only screen and (max-width: 320px) {
    h2{ font-size: 1rem;}
  }

  /*----Nav---*/
@media (min-width: 320px){
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        margin: 0 auto;
    }
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row!important;
        margin: 0 auto;
    }
}
