nav {
  background-color: #01529c;
}

body {
 background-color: #f5f5f5;
   border-bottom: 1px solid white;
   font-family: 'PT Sans', sans-serif;
}

/*-------Blog Post--------*/
h1{ font-size:65px;}
.text-center.bigOne{ margin: 5% 0;}
ul.blog{
  list-style-type: none;
  text-align: right;
}
li.rrss{
  display: inline-block;
  text-align: right!important;
  font-size: 24px;
}
/*-------//Blog Post--------*/




.cardlink {
  text-decoration: none !important;
  color: black;
}
  


/*----Media Queries-----*/


@media only screen and (max-width: 768px) {
  h2{ font-size: 2rem;}
  /*----Nav---*/
  li.nav-item.text-white {
    margin: 0px 25px;
  }
}





@media (min-width: 320px){
  h2{ font-size: 1rem;}
  .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      margin: 0 auto;
  }
  .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row!important;
      margin: 0 auto;
  }
}