/*---nav---*/

nav {
    background-color: #01529c;
  }
  
  body {
   background-color: #f5f5f5;
     border-bottom: 1px solid white;
  }
    
  .content {
    padding-top: 45px;
   margin: 0 auto;
    width: 600px;
    /* pointer events for hover behaviour */
  
  }

  .card:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }

  #creative {
    font-size: 25px;
}



  li.nav-item.text-white { margin: 0px 5px; }
/*---//nav---*/
  /*---- Media Query Nav---*/
@media (min-width: 320px){
  .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      margin: 0 auto;
  }
  .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row!important;
      margin: 0 auto;
  }
}



/* Content */

@media (min-width: 700px){
  .split .html .body .glass .dark #design-section #dev-section #creative #logic #amp {
      width: 100%;
  }

  #wrapper {
    padding-top: 20px;
}

html, body {
  margin: auto;
}
.split {
  background-size: 200%;
  width: 50%;
  height: 100vh;
}
.glass {
  background-color: white;
  color: black;
  opacity: .65;
}
.dark {
  background-image: url('https://res.cloudinary.com/edwardwatson/image/upload/v1570627630/Iceland%20Website/icelandbackgroundvideo_ccvbjm.jpg');
  background-color: black;}

#design-section {
  background-image: url(https://tinyurl.com/lmfy6jr);
  background-position: left;
  float: left;
}

#dev-section {
  /* background-image: url(https://res.cloudinary.com/edwardwatson/image/upload/v1570627630/Iceland%20Website/icelandbackgroundvideo_ccvbjm.jpg); */
  background-position: right;
  float: right;
}
#dev-section img {
  float: right;
}
.clear {
  clear: both;
}
#creative, #logic {
  text-align: center;
  margin-top: 200px;
}
#creative {
  font-family: 'Pacifico', monospace;
  /*color: #c48cff;*/
}
#logic {
  color: #79abff;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
}
#amp {
  position: absolute;
  top: 150px;
  margin-left: 45%;
  font-size: 10em;
  font-family: sans-serif;
  z-index: 5;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
}

.responsive {
  width: 100%;
  height: auto;
}

#wrapper {
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}



/* start of tv player*/
@import "bourbon";

a {
  color: #cadecb;
}
.video-wrapper {
	position: relative;
	width: 100%;
	margin: rem-calc(0 0 54.5);
	min-height: rem(500);
	overflow: hidden;
}
.video-overlay {
	height: 100%;
	opacity: .8;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.video-expand {
	color: white;
	font-size: rem(18);
	line-height: 1em;
	opacity: .4;
	position: absolute;
	top: rem(15);
	right: rem(15);
	z-index: 3;
	&:hover {
		@include transition(all 400ms ease-in-out);
	}
}
.cover {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
	position: absolute;
  margin: auto;
	top: 10%;
	left: 0;
  right: 0;
  bottom: 0;
	z-index: 100;
	width: 50%;
  text-align: center;
  h2 {
    font-size: 36px;
    font-weight: 100;
    color: #fff;
    line-height: 1.3em;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
  }
}
.tv {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.screen {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		margin: auto;
		opacity: 0;
		transition: opacity .5s;
		&.active {
			opacity: 1;
		}
	}
}
/* end of tv player*/
