nav {
    background-color: #01529c;
  }
  
  body {
   background-color: #f5f5f5;
     border-bottom: 1px solid white;
     font-family: 'PT Sans', sans-serif;
  }


  .content {
    padding-top: 45px;
    margin: 0 auto;
    width: 800px;
    /* pointer events for hover behaviour */
  
  }
  
  @media only screen and (max-width: 600px) {

  .content {
      width: 100%;
    }
    
  }
  

  /* Hover Behaviour , tutorial: https://www.trysmudford.com/blog/fade-out-siblings-css-trick/*/

.card {
    overflow: hidden;
    display: inline-block;
}

  .row {
    overflow: hidden;
    display: inline-block;
  }
  
  .card:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}


  .content:hover > * {
    opacity:0.5;
  }

  .content:hover > *:hover {
    transform: ease-in-and-out;
    opacity: 1;
  }
  
  .content > * {
    pointer-events: auto;
  } 

  .content {
    overflow: hidden;
    pointer-events: none;
  }

  .card {
    overflow: hidden;
  }

  .card img { 
    text-align: center;
    position: absolute;
    height: 100%
  }

  .wrapper {
    overflow: hidden;
  }

  .md-8 {
    display: inline-block;
    overflow: hidden;
  }



  /*-------Blog Post--------*/
  h1{ font-size:65px;}
  .text-center.bigOne{ margin: 5% 0;}
  ul.blog{
    list-style-type: none;
    text-align: right;
  }
  li.rrss{
    display: inline-block;
    text-align: right!important;
    font-size: 25px;
}
  /*-------//Blog Post--------*/




 .cardlink {
    text-decoration: none !important;
    color: black;
  }
    










/*---nav---*/
  li.nav-item.text-white { margin: 0px 5px; }
/*---//nav---*/
  /*---- Media Query Nav---*/
@media (min-width: 320px){
  .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      margin: 0 auto;
  }
  .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row!important;
      margin: 0 auto;
  }
}
