.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 20px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 40px;
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
    
}

.grid-item {
    padding: 1rem;
    background-color: #333;
    border-radius: 5px;

    
}

.span-1 {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

.span-1-1 {
  grid-row-end: span 2;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
}

.span-3 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-6 {
    grid-column-end: span 3;
    grid-row-end: span 1;
}

.grid-item:hover
{
transform: scale(1.1);
}

.grid-item-1 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/c_scale,q_72,w_1627/v1570466383/Iceland%20Grid%20Pictures/luke-stackpoole-5Qqkjn4PFPA-unsplash_jtbslc.jpg);
    background-position: center;
    background-size: cover; 
}

.grid-item-8 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/c_scale,q_71,w_2458/v1570466388/Iceland%20Grid%20Pictures/robert-lukeman-zNN6ubHmruI-unsplash_cmpqpo.jpg);
    background-position: center;
    background-size: cover;
}

.grid-item-2 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/v1570466382/Iceland%20Grid%20Pictures/luke-stackpoole-Vh7ao7Mt-_4-unsplash_mcczzv.jpg);
    background-size: cover;
    background-position: center;
}

.grid-item-3 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/v1570466380/Iceland%20Grid%20Pictures/jonathan-auh-z99iWocuDt0-unsplash_dfixui.jpg);
    background-position: center;
    background-size: cover;
}

.grid-item-4 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/v1570466378/Iceland%20Grid%20Pictures/mahkeo-rBRZLPVLQg0-unsplash_tkawz7.jpg);
    background-position: center;
    background-size: cover;
}

.grid-item-5 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/c_scale,q_72,w_461/v1570466381/Iceland%20Grid%20Pictures/redcharlie-O7zkyNkQ1lM-unsplash_um0drk.jpg);
    background-position: center;
    background-size: cover;
}

.grid-item-6 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/c_scale,q_72,w_626/v1570466384/Iceland%20Grid%20Pictures/martin-jernberg-AaExF6NxvQo-unsplash_iplrut.jpg);
    background-position: center;
    background-size: cover;
}

.grid-item-9 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/c_scale,q_73,w_933/v1570466382/Iceland%20Grid%20Pictures/rory-hennessey-PBrovES5uuI-unsplash_abipwx.jpg);
    background-position: center;
    background-size: cover;
}

.grid-item-10 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/c_scale,q_72,w_562/v1570466382/Iceland%20Grid%20Pictures/norris-niman-ABtmE3jhaPQ-unsplash_e76uli.jpg);
    background-position: center;
    background-size: cover;
}

.grid-item-7 {
    background-image: url(https://res.cloudinary.com/dzvkdhu9c/image/upload/c_scale,q_71,w_760/v1570551310/Iceland%20Grid%20Pictures/luke-stackpoole-eWqOgJ-lfiI-unsplash_srbab7.jpg);
    background-position:center;
    background-size: cover;
}

@media (min-width: 320px) and (max-width: 768px) {
    .grid-layout {
        display: block;
        
    }
    .grid-item {
        width: 95%;
        height: 500px;
        margin: 0 auto;
        margin-bottom: 40px;


    }    

}

li.nav-item.text-white { margin: 0px 5px; }

nav {
    background-color: #01529c;
}

@media (min-width: 320px){
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        margin: 0 auto;
    }
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row!important;
        margin: 0 auto;
    }
}